@media (max-width: 992px) {
  .vertical-social {
    display: none !important;
  }
}

.vertical-social {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #0d003b;
  height: 370px !important;
  margin-left: 30px;
  border-radius: 40px;
  padding: 30px 15px;
  z-index: 999;
  transition: 1s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 4px 13px 0 rgba(168, 67, 253, .3);
  overflow: hidden;
  border-bottom: 3px solid #a843fd;
}

.vertical-social li {
  padding: 7px 0;
  text-align: center;
}

.vertical-social li a {
  color: #fff;
  opacity: .6;
  font-size: 22px;
}

.vertical-social li a:hover {
  opacity: 1
}
