/* ##### Service Area CSS ##### */

.service_single_content {
  position: relative;
  z-index: 1;
}

.service_single_content .service_icon i {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  display: block;
}

.service_icon {
  margin-bottom: 20px
}

.service_single_content h6 {
  margin-bottom: 15px;
}
