/* ##### Animated Headline CSS ##### */

.cd-intro.default-title>h2 {
  font-size: 50px;
}

.cd-headline.clip b,
.cd-words-wrapper b {
  font-weight: 500;
}

.cd-headline {
  font-weight: 500;
}
