dialog {
  background: #4834d4;
  position: fixed;
  border-width: 0;
  border-radius: 5px;
  background-image: url(/assets/img/core-img/pattern.png);
  margin: auto;
  padding: 30px;
  form {
    margin-top: 30px;
  }
  &:not([open]) {
    display: none;
  }
  &[open] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    animation: show-dialog 1s ease normal;
    &::backdrop {
      animation: show-backdrop 0.5s ease 0.2s normal;
    }
  }
  &.hide {
    animation: hide-dialog 1s ease normal;
    &::backdrop {
      animation: hide-backdrop 0.5s ease 0.2s normal;
    }
  }
  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    animation: none;
  }
}

@keyframes show-dialog {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hide-dialog {
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes show-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-backdrop {
  to {
    opacity: 0;
  }
}

/* ##### 2.0 Header Area CSS ##### */

.header-area {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-area.sticky {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #281b87;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

.dark.classy-nav-container {
  background-color: transparent !important;
}

.classy-navbar {
  height: 90px !important;
  padding: 0 !important;
}

.classynav ul li a {
  text-transform: uppercase;
}

.classynav ul li .megamenu li a {
  font-size: 80%;
}
